@using System.Data.Entity.Core.Metadata.Edm
@using Microsoft.Ajax.Utilities
@model PCDSWebsite.Models.ChainViewModel

@{
    ViewBag.Title = "Chain Performance";
}

<!DOCTYPE html>

<html>
<head>
    <title>ViewBag.Title</title>

</head>
<body>
    <h3>@Model.Chain.Name</h3>
    <b>Number of Chain stores: @Model.Stores.Count</b>
    <br />

    <hr />
    <table>
        <tr>
            <td style="text-align: left; vertical-align: top; padding: 0">

                @using (Html.BeginForm("ChainDetails", "Stores", FormMethod.Post))
                {

                    <h4>Period</h4>
                    <input type="text" id="startTime" name="startTime" value="01-01-2015">
                    <br />
                    <br />
                    <input type="text" id="endTime" name="endTime" value="31-12-2015">

                    <input type="submit" value="Get Performance" />
                }

                <hr />
                <h4>Totel period sales</h4>
                <b>@Model.Performance.TotalSales</b>
                @*<h4>Include Expected Sales Numbers</h4>
                    <input type="radio" name="sex" value="male">Yes <input type="radio" name="sex" value="female">No*@
                <hr />
                @*<h4>Include Historic Sales Numbers</h4>
                    <input type="radio" name="sex" value="male">Yes <input type="radio" name="sex" value="female">No*@
            </td>

            <td width="100%">
                <div id="performancegraph"></div>
            </td>

        </tr>
    </table>
    <hr />

    <h4>Chain Stores</h4>
    <table id="chainstores-table" class="display" width="100%">
        <thead>
            <tr>
                <th>Store Id</th>
                <th>Store Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var store in Model.Stores)
            {
                <tr>
                    <td>@store.Id</td>

                    <td>@store.Name</td>

                    <td>
                        @Html.ActionLink("Details", "StoreDetails", new { store.Id })
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <hr />
</body>
</html>

@section scripts
{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables-1.10.5/media/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('#performance-table').DataTable();
            $('#chainstores-table').DataTable();
        });

    </script>

    <script type="text/javascript" charset="utf8" src="~/Scripts/highcharts.js"></script>
    <script>
        $(function () {
            var actualSales = [];
            var accSales = [];
            @foreach (decimal actualSale in Model.Performance.Values)
            {
                @:actualSales.push(@actualSale);
                                }

            @foreach (decimal accSale in Model.Performance.AccPerValues)
            {
                @:accSales.push(@accSale);
                    }
            $('#performancegraph').highcharts({
                title: {
                    text: 'Chain Performance',
                    x: -20 //center
                },
                xAxis: {
                    categories: [
                        'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
                    ]
                },
                yAxis: {
                    title: {
                        text: 'Sales amount'
                    },
                    plotLines: [
                        {
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }
                    ]
                },
                tooltip: {
                    valueSuffix: 'Kr'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [
                    {
                        name: 'Actual sales',
                        type: 'column',
                        data: actualSales
                    }
                ,
                    {
                        name: 'Accumulated sales',
                        type: 'line',
                        data: accSales
                    }]
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#startTime').datepicker({ dateFormat: "dd-mm-yy" });
            $('#endTime').datepicker({ dateFormat: "dd-mm-yy" });
        });
    </script>

}


