@model List<StoreStockingSystem.Models.Stock>


<!DOCTYPE html>

<html>
<head>
    <title>ViewBag.Title</title>

</head>
<h2>Options</h2>


<h2>Stores</h2>
@section scripts
{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables-1.10.5/media/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#stores-table').DataTable();
        });

    </script>
}


<h2>@Model.First().Store.Name</h2>


<table id="stores-table" class="display" width="100%">
    <thead>
        <tr>
            <th>Display type</th>
            <th>Product name</th>
            <th>Product count</th>
            <th>Expected warning date</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var stock in Model)
        {
            foreach (var product in stock.ProductStocks)
            {
                <tr>
                    <td>@stock.DisplayType.Name</td>

                    <td>@product.Product.Name</td>
                    
                    <td>@product.Amount</td>
                    
                    <td>@product.ExpectedWarningDate</td>
                </tr>
            }
        }
    </tbody>
</table>

