@model dynamic

@using System.Activities.Expressions
@using PCDSWebsite.Models
@using StoreStockingSystem.Services;
@using Stock = StoreStockingSystem.Models.Stock
@using Store = StoreStockingSystem.Models.Store

@{
    ViewBag.Title = "Kunder";
}

<!DOCTYPE html>

<html>
<head>
    <title>ViewBag.Title</title>

</head>
<h2>Options</h2>


<h2>Stores</h2>
@section scripts
{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables-1.10.5/media/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#stores-table').DataTable();
        });

    </script>
}

<table id="stores-table" class="display" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>ABC</th>
            <th>Name</th>
            <th>City</th>
            <th>Zip code</th>
            <th>Adresse</th>
            <th>Store Status</th>
            <th>Store Products</th>
            <th>Store Details</th>
            <th>Checkbox</th>
        </tr>
    </thead>

    <tbody>
    @foreach (Stock stock in StockService.GetAllStocks())
    {
        <tr>
            <td>@stock.Store.Id</td>
            <td>ABC</td>
            <td>@stock.Store.Name</td>
            <td>SomeCity</td>
            <td>SomeZipCode</td>
            <td>SomeAddress</td>
            @if (@stock.WarningAmountLeft > 15)
            {
                <td style="background-color: greenyellow">@stock.WarningAmountLeft</td>
            }
            else
            {
                <td style="background-color: red">@stock.WarningAmountLeft</td>
            }
            <td>
                <select>
                    <option selected="selected">Product List</option>
                    @foreach (var product in StoreService.GetStoreProducts(stock.Store.Id))
                    {
                        if (stock.ProductStock.Exists(prod => prod.Id == product.Id && prod.Amount <= prod.WarningAmount))
                        {
                            <option disabled style="background-color: red">@product.Product.Name</option>
                        }
                        else
                        {
                            <option disabled style="background-color: greenyellow">@product.Product.Name</option>

                        }
                    }
                </select>
            </td>
            <td>@Html.ActionLink("Details", "StoreDetails")</td>
            <td style="text-align: center;"><input type="checkbox"/></td>
        </tr>
    }
    <tr>
        <td>1</td>
        <td>A</td>
        <td>Fona Amager</td>
        <td>København S</td>
        <td>2300</td>
        <td>Amager Centret 136</td>
        <td style="background-color: greenyellow">Ok (105% of expected)</td>
        <td>@Html.ActionLink("Details", "StoreDetails")</td>
        <td style="text-align: center;"><input type="checkbox"/></td>
    </tr>

    <tr>
        <td>2</td>
        <td>A</td>
        <td>Fona Rosengårdscentret</td>
        <td>Odense</td>
        <td>5220</td>
        <td>Rosengårdcentret 84</td>
        <td style="background-color: greenyellow">Ok (102% of expected)</td>
        <td>@Html.ActionLink("Details", "StoreDetails")</td>
        <td style="text-align: center;"><input type="checkbox"/></td>
    </tr>

    <tr>
        <td>3</td>
        <td>B</td>
        <td>Fona Svendborg</td>
        <td>Svendborg</td>
        <td>5700</td>
        <td>Kattesundet 2</td>
        <td style="background-color: greenyellow">Ok (97% of expected)</td>
        <td>@Html.ActionLink("Details", "StoreDetails")</td>
        <td style="text-align: center;"><input type="checkbox"/></td>
    </tr>

    <tr>
        <td>4</td>
        <td>A</td>
        <td>Føtex Frederiksberg</td>
        <td>Frederiksberg</td>
        <td>2000</td>
        <td>Falkoner Alle 21</td>
        <td style="background-color: yellow">Ok (95% of expected)</td>
        <td>@Html.ActionLink("Details", "StoreDetails")</td>
        <td style="text-align: center;"><input type="checkbox"/></td>
    </tr>

    <tr>
        <td>5</td>
        <td>C</td>
        <td>Bog & Idé Vordingborg</td>
        <td>Vordingborg</td>
        <td>4760</td>
        <td>Algade 84</td>
        <td style="background-color: red">Bad Out of stock (0 days left)</td>
        <td>@Html.ActionLink("Details", "StoreDetails")</td>
        <td style="text-align: center;"><input type="checkbox"/></td>
    </tr>
    </tbody>
</table>

